* {
    box-sizing: border-box;
}

.title {
    min-height:5vh;
    width:5vw;
    display:flex;
}

.rectangle {
    width:90%;
    border-radius:0 0 5px 5px;
    text-align: center;
    color:white;
    font-weight:600;
}

.left-triangle {
    height:0;
    width:0;
    border-top: 10px solid rgb(245,247,255);
}

.right-triangle {
    height:0;
    width:0;
    border-top: 10px solid rgb(245,247,255);
}
